* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    width: auto !important;
    overflow-x: hidden !important;
    -webkit-overflow-scrolling: touch;
}

html::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.main {
    width: 100vw;
    top: 0;
}

.main img {
    line-height: 0px;
    vertical-align: top;
}

.main-m {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 124px;
}

.left, 
.menu,
.right {
    float: left;
    width: calc(100% / 3);
    margin: 0;
    padding: 0;
}

/* @media only screen and (max-width: 1080px) {
    .doit {
        margin-top: 80.5vh;
        margin-left: 77vw;
        width: 16.8vw;
        height: 5vh;
        position: absolute;
    }

    .menu {
        margin-top: 5.6vh;
        margin-left: 85.4vw;
        width: 7.6vw;
        height: 2.4vh;
        position: absolute;
    }

    .home  {
        margin-top: 17vh;
        margin-left: 53.6vw;
        width: 13vw;
        height: 2.6vh;
        position: absolute;
    }
    
    .what-we-do-l  {
        margin-top: 21.4vh;
        margin-left: 53.6vw;
        width: 35vw;
        height: 2.4vh;
        position: absolute;
    }
    
    .about-l  {
        margin-top: 25.8vh;
        margin-left: 53.6vw;
        width: 18.8vw;
        height: 2.5vh;
        position: absolute;
    }
    
    .looking-l {
        margin-top: 30vh;
        margin-left: 53.6vw;
        width: 36.4vw;
        height: 2.2vh;
        position: absolute;
    }
    
    .investments-l {
        margin-top: 34vh;
        margin-left: 53.6vw;
        width: 37vw;
        height: 2.5vh;
        position: absolute;
    }

    .campante-l {
        margin-top: 16.2vh;
        margin-left: 12.6vw;
        width: 75.6vw;
        height: 5.4vh;
        position: absolute;
    }
    
    .campante-gif {
        width: 83.5vw;
        height: 26vh; 
        padding-top: 3vh;
        padding-left: 8.7vw;
    }
    
    .body-eden-l {
        margin-top: 57.2vh;
        margin-left: 12vw;
        width: 76vw;
        height: 5.4vh;
        position: absolute;
    }

    .back {
        margin-top: 8.8vh;
        margin-left: 85.4vw;
        width: 7.7vw;
        height: 1.9vh;
        position: absolute;
    }
} */